:root{
    /*(main background)*/
    --Very-dark-blue : hsl(233, 47%, 7%);
    /*(card background)*/
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    /*(accent)*/
    --Soft-violet : hsl(277, 64%, 61%);
    /*(main heading, stats)*/
    --White : hsl(0, 0%, 100%);
    /*(main paragraph)*/
    --Slightly-transparent-white : hsla(0, 0%, 100%, 0.75);
    /*(stat headings)*/
    --Slightly-transparent-white : hsla(0, 0%, 100%, 0.6);
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--Very-dark-blue);
    font-size: 15px;
}

.sec{
    padding: 140px 10rem 80px 10rem;
}

.details {
    display: flex;
    flex-direction: row;
    /*align-items:center;*/
    justify-content: center;
    background-color: var(--Dark-desaturated-blue);
    border-radius: 10px;
}

.deep {
    padding: 55px 117px 58px 92px;
    color: var(--Slightly-transparent-white);
}

.header{
    
    font-size: 1.8em;
    line-height: 35px;
}

h1{
    
    color: var(--White);
   
}

.par{
    margin: 43px 0px 65px 0px;
}

/*.mainspec{
    font-size: 1.3em;
    line-height: 28px;
}*/

.hlight{
    color: var(--Soft-violet);
}

.value{
    display: flex;
    justify-content: space-between;
}

h2{
    color: var(--White);
    /*font-size: 1.6em ;*/
}

.spec{
    /*font-size: 1.25em;*/
    color: var(--Slightly-transparent-white);
}


.details .headimg{
    background: url("../images/image-header-desktop.jpg") no-repeat center/cover;
    width:75em;
    /*height: 408px;*/
    border-radius: 0px 10px 10px 0px;
}

 .color{
    background-color: hsla(277, 64%, 61%, 0.44);
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: var(--Slightly-transparent-white); 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media(max-width: 638px){
    .details .headimg{
        background: url("../images/image-header-mobile.jpg") no-repeat center/cover;
        width:100%;
        height: 250px;
        border-radius: 10px 10px 0px 0px;
    }
    
     .color{
        background-color: hsla(277, 64%, 61%, 0.44);
        height: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    
    .details {
        display: flex;
        flex-direction: column-reverse;
        /*align-items:center;*/
        justify-content: center;
        background-color: var(--Dark-desaturated-blue);
        border-radius: 10px;
    }
    .sec {
        padding: 90px 2rem 85px 2rem;
    }
    .deep {
        padding: 43px 36px 35px 43px;
        color: var(--Slightly-transparent-white);
        text-align: center;
    }
    .header {
        font-size: 1.5em;
        line-height: 35px;
    }
    .par {
        margin: 30px 0px 43px 0px;
    }
    .value{
        display:flex;
        flex-direction: column;
    }
    .first{
        margin: 0px 0px 48px 0px;
    }
    .second{
        margin: 0px 0px 48px 0px;
    }
    .third{
        margin: 0px 0px 48px 0px;
    }
}

@media(min-width:640px) and (max-width:1024px){
    .deep {
        padding: 17px 8px 19px 30px;
        color: var(--Slightly-transparent-white);
    }
    .par {
        margin: 33px 0px 29px 0px;
    }
    .header {
        font-size: 1.2em;
        line-height: 30px;
    }
    .sec {
        padding: 51px 8rem 67px 8rem;
        margin: 0px 10px;
    }
    .details .headimg {
        width: 60em;
        height: 316px;
    }
    .value {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
}
@media(min-width: 1025px) and (max-width: 1440px){
    .deep {
        padding: 37px 46px 58px 48px;
        color: var(--Slightly-transparent-white);
    }
    .details .headimg {
        width: 63em;
        height: 466px;
    }
    .par {
        margin: 70px 0px 70px 0px;
    }
    .header {
        font-size: 2.1em;
        line-height: 40px;
    }
}